@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');
$colorOne: #e12f31;
$colorTwo: #ed8943;
$colorThree: #f2a340;
$colorFour: #cba677;
$colorFive: #C4C4C4;
$colorSix: #5bd7ba;
$colorDark: #1a1e26;
$colorWhite: #FFFFFF;
@mixin shapeAnimation($left) {
    content: '';
    position: absolute;
    left: $left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $colorTwo;
    transition: .5s;
    z-index: -1;
}

@mixin hoverShapeAnimation {
    transform: scale(10);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $colorDark;
    font-family: 'Poppins', sans-serif;
}

.header_container {
    max-width: 1400px;
    margin: auto;
    padding: 10px 15px;
    height: 70px;
    display: flex;
    align-items: center;
}

.logo_figure {
    display: flex;
    align-items: center;
}

.logo_figure img {
    width: 280px;
}

.nav {
    ul {
        display: flex;
        margin-left: 20px;
        li {
            list-style: none;
            +li {
                margin-left: 15px;
            }
        }
    }
}

.link {
    border-radius: 20px;
    color: $colorFive;
    display: block;
    font-weight: 500;
    padding: 8px 20px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:hover {
        color: $colorWhite;
    }
    &:before {
        @include shapeAnimation(-20px);
    }
    &:after {
        @include shapeAnimation(100%);
    }
    &:hover:before,
    &:hover:after {
        @include hoverShapeAnimation();
    }
}

.activeItem {
    color: $colorWhite;
    background: $colorTwo;
}

.containerCenter {
    width: 100%;
    height: calc(100vh - 70px);
    display: grid;
    place-items: center;
}

.generalTitle {
    color: $colorSix;
}