@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');
$colorOne: #e12f31;
$colorTwo: #ed8943;
$colorThree: #f2a340;
$colorFour: #cba677;
$colorFive: #C4C4C4;
$colorSix: #5bd7ba;
$colorDark: #1a1e26;
$colorWhite: #FFFFFF;